<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nuno theme</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">
    <!-- home section start -->
    <div id="home">
        <!-- navbar -->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <!-- <div class="container-fluid"></div> -->
            <a href="#" class="navbar-brand">bootstrap theme</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-expanded="false">
        <span class="navbar-toggler-icon">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">FEATURES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portfoilio">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pricing">PRICING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#team">TEAM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">SKILLS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#clients">CLIENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- navbar end -->
        <!-- landing page -->
        <div class="landing">
            <div class="home-wrap">
                <div class="home-inner">

                </div>
            </div>
        </div>
        <!-- landing page end -->
        <!-- caption start -->
        <div class="caption text-center">
            <DIV>
                <h1>WELCOME TO NUNO</h1>
            </DIV>
            <div>
                <h3>ANIMATED BOOTSTRAP THEME</h3>
            </div>
            <DIV>
                <a href="#features" class="btn btn-outline-light  btn-lg"> Get Strated</a>
            </DIV>
        </div>
        <!-- caption end -->
        <a class="down-arrow" href="#features">
            <div class="arrow bounce d-none d-md-block" style="opacity: 1;">
                <svg class="svg-inline--fa fa-angle-down fa-w-10" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
                <!-- <i class="fas fa-angle-down" aria-hidden="true"></i> -->
            </div>
        </a>
    </div>
    <!-- home section end -->
    <!-- features section start -->
    <div id="features">

    </div>
    <!-- features section end -->
</body>

</html> 